@font-face {
  font-family: 'Gilroy-Bold';
  src: url("../fonts/gilroy-bold.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-bold.woff2") format("woff2"), url("../fonts/gilroy-bold.woff") format("woff"), url("../fonts/gilroy-bold.ttf") format("truetype"), url("../fonts/gilroy-bold.svg#gilroy-bold") format("svg");
  /* Chrome < 4, Legacy iOS */
}
.container__fluid-about {
  width: 100%;
  background-color: #F6F6F6;
}

.header__content .header__content-inner .header__content-info, .container__fluid-about .about .about__description {
  line-height: 22px;
  font-size: 18px;
  color: #070707;
}

.header__content .header__content-inner .header__content-title {
  font-size: 47.3392px;
  line-height: 59px;
  color: #070707;
}

.container__fluid-about .about .about__title {
  font-family: Gilroy-Bold;
  font-size: 34px;
  line-height: 42px;
}

.wrapper {
  width: 100%;
  max-width: 944px;
  margin: 0 auto;
}

body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: "Gilroy", sans-serif;
}

.header {
  background-color: #FFFFFF;
}

.menu {
  font-size: 18px;
  line-height: 22px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #828282;
}
.menu a {
  color: #828282;
  text-decoration: none;
  transition: color .2s linear;
  display: inline-block;
  margin: 33px 0px;
}
.menu a:hover {
  color: #070707;
}

.header__content .header__content-inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}
.header__content .header__content-inner .header__content-title {
  max-width: 123px;
  align-items: flex-end;
  margin: 18px 0px;
}
.header__content .header__content-inner .header__content-info {
  display: flex;
  align-items: flex-end;
  margin: 18px 0px;
}
.header__content .header__content-inner .header__content-selector {
  font-size: 16px;
  line-height: 20px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.header__content .header__content-inner .header__content-selector a {
  text-decoration: none;
  color: #828282;
  transition: color .2s linear;
}
.header__content .header__content-inner .header__content-selector a:hover {
  color: #070707;
}

.header__background-image {
  padding-bottom: 105px;
}

.container__fluid-about .about {
  width: 100%;
  max-width: 944px;
  margin: 0 auto;
  text-align: center;
}
.container__fluid-about .about .about__title {
  padding-top: 120px;
}
.container__fluid-about .about .about__description {
  padding-bottom: 107px;
}
.container__fluid-about .about .about__description .about__description-item {
  padding: 10px;
}
