$bg-color-first: #FFFFFF;
$bg-color-second: #F6F6F6;
$color-text: #070707;
$color-text-gray: #828282;
$font-main:"Gilroy", sans-serif;
@font-face {
	font-family: 'Gilroy-Bold';
	src: url('../fonts/gilroy-bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-bold.svg#gilroy-bold') format('svg'); /* Chrome < 4, Legacy iOS */
}
%primary__fluid {
    width: 100%;
    background-color: $bg-color-second;
}
%font-main-underlined {
    font-size: 18px;
    text-decoration-line: underline;
    line-height: 22px;
    color: $color-text;
}
%font-main-text{
    line-height: 22px;
    font-size: 18px;
    color: $color-text
}
%font-main-title {
    font-size: 47.3392px;
    line-height: 59px;
    color: $color-text
}
%font-subtitle {
    font-family: Gilroy-Bold;
    font-size: 34px;
    line-height: 42px;
}
%font-main-description{
    font-size: 14px;
    line-height: 17px;
    color: $color-text-gray;
}
%primary-width{
    width: 100%;
    max-width: 944px;
    margin: 0 auto;
}
body {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: $font-main;
  }
  .wrapper {
    @extend %primary-width;
  }
  .header {
      background-color: #FFFFFF;
  }
  .menu {
    font-size: 18px;
    line-height: 22px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #828282;
    a {
        color: $color-text-gray;
        text-decoration: none;
        transition: color .2s linear;
        display: inline-block;
        margin: 33px 0px;
        &:hover {
            color:$color-text;
        }
    }
  }
.header__content {
    .header__content-inner{
        display: flex;
        justify-content: space-between;
        margin-bottom: 35px;
        .header__content-title{
            @extend %font-main-title;
            max-width: 123px;
            align-items: flex-end;
            margin: 18px 0px;
        }
        .header__content-info {
            @extend %font-main-text;
            display: flex;
            align-items: flex-end;
            margin: 18px 0px;
        }
        .header__content-selector{
            font-size: 16px;
            line-height: 20px;
            -webkit-transform: rotate(90deg); 
            transform: rotate(90deg);
            a{
                text-decoration: none;
                color: $color-text-gray;
                transition: color .2s linear;
                &:hover {
                    color:$color-text;
                }
            }
        }
    }
}
.header__background-image {
padding-bottom:105px;
}
.container__fluid-about{
    @extend %primary__fluid;
    .about {
        width: 100%;
        max-width: 944px;
        margin: 0 auto;
        text-align: center;
        .about__title{
            @extend %font-subtitle;
            padding-top: 120px;
        }
        .about__description{
            @extend %font-main-text;
            padding-bottom: 107px;
            .about__description-item{
                padding: 10px;
            }
        }
    }
}
.skills__inner{
    .skills__title{
        text-align: center;
        @extend %font-subtitle;
        padding-top: 91px;
    }
    .skills__description {
        @extend %font-main-text;
        text-align: center;
        padding: 70px 0px 100px;
    }
    .skills__programs{
        display: flex;
        justify-content: space-between;
        @extend %font-main-description;
        .skills__programs-items{
            .skills__program-name{
                padding-top: 25px;
                padding-bottom: 41px;
            }
            .skills__programs-stars {
                padding-bottom: 110px;
            }
        }
    }
}
.container__fluid-porfolio{
    @extend %primary__fluid;
    .portfolio{
        width: 100%;
        max-width: 944px;
        margin: 0 auto;
        text-align: center;
        .portfolio__title{
            text-align: center;
            padding: 112px 0 47px;
            @extend %font-main-title;
        }
        .portfolio__link{
            @extend %font-main-underlined;
            .portfolio__link-site {
                padding: 44px 0px 100px;
            }
        }
    }
}
.contacts{
    text-align: center;
    .wrapper{
        .contacts__title{
            @extend %font-subtitle;
            padding-top: 114px;
            padding-bottom: 10px;
        }
        .contacts__text{
            @extend %font-main-text;
            padding-bottom: 30px;
        }
        .contacts__btn{
            background-color: black;
            color: $bg-color-first;
            height: 42px;
            width: 180px;
            border-radius: 25px;
            text-align: center;
            font-size: 18px;
            line-height: 22px;
        }
        .contacts__sm-icons{
            text-align: center;
            .contacts__sm-icon{
                padding: 82px 28px 46px;
            }
        }
    }
    .contacts__sm-text{
        @extend %font-main-description;
    }
}